/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;

}

.fa-2x {
    font-size: 2.5em;
    color: white;
  }


#slideshow, img.bgM {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-9999;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
    box-shadow: inset 1px 1px 62px 23px rgb(255, 255, 255), 1px 1px 100px 40px rgb(255, 255, 255);
    border-radius: 9%;
    color: white;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
.top input {
  color:black;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: transparent;
  border-radius: 3%;
  color:white;
  text-shadow: 2px rgba(255, 0, 0, 0.5);
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
 .jumbotron > h1 {
   font-family: "Cabin", sans-serif;
 }

 #returningUser {
   color:transparent;
   /*//props to  Riccardo Tartaglia on codepen for this glow effect*/
   text-shadow:
   0 0 2px rgba(255,255,255,1),
   0 0 10px rgba(255,255,255,1),
   0 0 20px rgba(255,255,255,1),
   0 0 30px rgba(255,255,255,1),
   0 0 40px #b6b3cb,
   0 0 70px #b6b3cb,
   0 0 80px #b6b3cb,
   0 0 100px #b6b3cb,
 }

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
