

#loginClick {
  float: right;
  position: relative;
  margin-right: 5%;
}


#frontPage{
  position:absolute;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
#dreamBox {
  background-color: transparent;
  margin-bottom: 0px;
  h1{
    text-align: center;
    font-family: 'Poiret One', cursive;
  }
}
.editItem {
  text-align: center;

}
.row{
  width: 100%;
}
.list {
  border-top: 0px;
  padding: 10px 20px 40px 30px;
}
.newListItem {
  width: 78%;
  height: 33px;
  padding-left: 5px;
}
.listItem {
  font-size: 30px;
  font-family: 'Poiret One', cursive;
}
.complete {
  text-decoration: line-through;
  color: black;

}

.updateListItem {
  vertical-align: super;
  margin-left: -10px;
  width: 75%;
}
.bucketLineItem {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
#submitBtn {
  border-radius: 0px;
  border-color: #e5e5e5;
  width: 20.5%;
}
#editedItem {
  width: 20.5%;
  margin-left: -3px;
  padding-left: 5px;
}

.hidden-class {
  display: none;
}
