#loginClick {
  float: right;
  position: relative;
  margin-right: 5%;
  color: transparent;
  text-shadow: 0 0 2px white, 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #fbf6e1, 0 0 70px #fbf6e1, 0 0 80px #fbf6e1, 0 0 100px #fbf6e1; }

#frontPage {
  position: absolute;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  overflow: hidden;
  background-position: 100% 100%;
  background-repeat: no-repeat; }

#dreamBox {
  position: relative;
  width: 80%;
  background-color: transparent;
  margin-bottom: 0px;
  left: 10%;
  top: 22%; }
  #dreamBox h1 {
    font-family: "Cutive", sans-serif;
    color: transparent;
    text-shadow: 0 0 2px white, 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px #fbf6e1, 0 0 70px #fbf6e1, 0 0 80px #fbf6e1, 0 0 100px #fbf6e1;
    text-align: center;
    letter-spacing: 33px; }

#loginBox {
  padding: 10px;
  background-color: white;
  z-index: 2;
  position: relative;
  left: 29%;
  top: 92px;
  border-radius: 8%; }

#signUpBox {
  padding: 10px;
  background-color: white;
  z-index: 2;
  position: relative;
  left: 29%;
  top: 92px;
  border-radius: 8%; }

.editItem {
  text-align: center; }

.row {
  width: 100%; }

.list {
  border-top: 0px;
  padding: 10px 20px 40px 30px; }

.newListItem {
  width: 78%;
  height: 33px;
  padding-left: 5px; }

.listItem {
  font-size: 30px;
  font-family: 'Cabin', cursive; }

.complete {
  text-decoration: line-through;
  color: black; }

.updateListItem {
  vertical-align: super;
  margin-left: -10px;
  width: 75%; }

.bucketLineItem {
  margin: 20px;
  display: flex;
  justify-content: space-between; }

#submitBtn {
  border-radius: 0px;
  border-color: #e5e5e5;
  width: 20.5%; }

#editedItem {
  width: 20.5%;
  margin-left: -3px;
  padding-left: 5px; }

.hidden-class {
  display: none; }
